* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

body {
  background-color: #4791b4;
}

@font-face {
  font-family: gillsans-light;
  src: url(../css/fonts/Gill-Sans-Font-Family/Gill\ Sans\ Light.otf);
}
.title {
  color: #fff;
  margin: 0 auto;
  border-bottom: solid 2px #fff;
}
.title .title-text {
  margin-left: 5%;
  margin-top: 20px;
  font-family: gillsans-light;
  font-size: 40px;
}
.title .title-text p {
  margin-bottom: 5px;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .game-board {
  margin: 0 auto;
  width: 495px;
  height: 495px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .game-board .row {
  height: 55px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}
.wrapper .game-board .row input {
  width: 55px;
  height: 100%;
  color: #000;
  font-size: 45px;
  text-align: center;
  border: solid 1px #000;
  outline: none;
}
.wrapper .game-board .row .tinted {
  background-color: #f29bde;
}
.wrapper .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 495px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.wrapper .buttons button {
  background-color: #696969;
  color: #fff;
  font-family: gillsans-bold;
  font-size: 20px;
}