.title {
  color: #fff;
  font-family: gillsans-light;
  font-size: 40px;
  border-bottom: solid 2px #fff;

  .title-text {
    margin-left: 5%;
    margin-top: 15px;
    font-family: gillsans-light;
    font-size: 40px;
  }
}
