.title {
  color: #fff;
  margin: 0 auto;
  border-bottom: solid 2px #fff;

  .title-text {
    margin-left: 5%;
    margin-top: 20px;
    font-family: gillsans-light;
    font-size: 40px;

    p {
      margin-bottom: 5px;
    }
  }
}

// for mobile

@media (max-width: 400px) {
  .title {
    .title-text {
      font-size: 35px;
      margin: 0 auto;
      margin-top: 15px;
    }
  }
}
